@import "tailwindcss";

/* Pastikan tidak ada flash putih saat loading */
* {
  transition: background-color 0s;
}

:root {
  --primary-100: #626262;
  --primary-200: #ffffff37;
  --primary-300: #f0f5f9;
  --accent-100: #788189;
  --accent-200: #c8c9ca;
  --text-100: #1e2022;
  --text-200: #52616b;
  --bg-100: #747886;
  --bg-200: #585e6c;
  --bg-300: #bfc7d1;
  --font-heading: "quantico";
  --font-body: "Rajdhani";
}

html {
  background-image: linear-gradient(to bottom, var(--bg-100), var(--bg-200));
  min-height: 100%;
}

body {
  background: transparent; /* Gunakan transparent agar background html terlihat */
  color: var(--accent-200);
  font-family: var(--font-body), var(--font-heading);
  min-height: 100vh;
}

.line-height-heading {
  line-height: 0.8;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

/* Heading Styles */

/* Heading 1 */

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

h1,
.h1 {
  font-family: var(--font-heading);
  font-size: 10rem;
  line-height: 0.9;
  letter-spacing: 0.7px;
  word-spacing: 50px;
  font-weight: 300;
  color: var(--primary-200);
  text-transform: uppercase;
}

/* Heading 2 */
h2,
.h2 {
  font-family: var(--font-heading);
  font-size: 2.25rem; /* 36px */
  line-height: 1.3;
  font-weight: 600;
  color: var(--primary-300);
  margin-bottom: 1.25rem;
  letter-spacing: -0.02em;
}

/* Heading 3 */
h3,
.h3 {
  font-family: var(--font-heading);
  font-size: 2.8rem; /* 30px */
  line-height: 0.7;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--primary-300);
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

/* Heading 4 */
h4,
.h4 {
  font-family: var(--font-heading);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--primary-300);
  margin-bottom: 0.75rem;
}

/* Heading 5 */
h5,
.h5 {
  font-family: var(--font-body);
  font-size: 2.3rem; /* 20px */
  line-height: 0.9;
  font-weight: 500;
  color: var(--accent-200);
  margin-bottom: 0.5rem;
}

/* Heading 6 */
h6,
.h6 {
  font-family: var(--font-heading);
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  font-weight: 500;
  color: var(--accent-100);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.h7 {
  font-family: var(--font-body);
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 500;
  color: var(--accent-200);
  margin-bottom: 0.5rem;
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;

  color: black;
  cursor: pointer;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  font-size: 2rem;
  color: black;
}

.menu,
.menu > div {
  padding: 0.4rem;
  border-radius: 1.8rem;
}

.menu:hover {
  padding: 0.6rem;
  border-radius: 1.8rem;
}

.menu > div > div {
  font-size: 14px;
  color: white;
  padding: 0.4rem 0.6rem;
}

.liquidGlass-wrapper-card-item {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;

  color: black;
  cursor: pointer;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect-item {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint-item {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 254, 254, 0.179);
}

.liquidGlass-shine-item {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text-item {
  z-index: 3;
  font-size: 2rem;
}

.card-item,
.card-item > div {
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.card-item > div > div {
  font-size: 8px;
  color: white;
  padding: 0.4rem 0.6rem;
}

.button-glass {
  font-size: 20px;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.601);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

.button-glass:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 6rem;
    line-height: 0.8;
    letter-spacing: -1px;
    word-spacing: 30px;
  }

  .h3 {
    font-size: 1.9rem; /* 30px */
    line-height: 0.7;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  h5,
  .h5 {
    font-size: 1.7rem; /* 20px */
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .h7 {
    font-size: 1.6rem;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

/* HP (maksimal 768px) */
@media screen and (max-width: 568px) {
  h1,
  .h1 {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1px;
    word-spacing: 20px;
  }

  .h3 {
    font-size: 1.4rem;
    line-height: 0.7;
    font-weight: 400;
    margin-bottom: 0.3rem;
    letter-spacing: -0.02em;
  }

  h5,
  .h5 {
    font-size: 1rem; /* 20px */
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .h7 {
    font-size: 0.9rem;
    line-height: 0.9;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}
